.search {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 65%;
    margin: auto;
    position: relative;
    margin-top: -30px;
    border-radius: 10px;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem;
        padding: 20px;
        z-index: 2;

        .petType {
            display: flex;
            flex-direction: column;
            width: 30%;
            .petSelect {
                padding: 5px;
                border: 1px solid grey;
                border-radius: 5px;
                background-color: white;
            }
        }
        .localization {
            display: flex;
            flex-direction: column;
            width: 30%;
        
            .caseville {
                padding: 5px;
                border: 1px solid grey;
                border-radius: 5px;
            }
        }
        .button {
            margin-top: 10px;
            background-color: #333;
            color: white;
            border-radius: 20px;
            height: 30px;
            width: 35%;
        }
    }
    .reset{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .resetFunction{
            color: #00a652;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}






